# User-specific stuff:
# IntelliJ ignored files
.idea/*
target
*.iml

# In case your project is edited in IntelliJ, runConfigurations are shared
!.idea/runConfigurations/

# Mac ignored files
.DS_Store
